// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Microchip Technology Inc */

/dts-v1/;
/plugin/;

&{/chosen} {
	overlays {
		VERILOG-CAPE-GATEWARE = "GATEWARE_GIT_VERSION";
	};
};

&{/fabric-bus@40000000} {
	#address-cells = <2>;
	#size-cells = <2>;

	pixel_proc: pixel-proc@41100080 {
		compatible = "generic-uio";
		reg = <0x0 0x41100080 0x0 0x20>;
		status = "okay";
		linux,uio-name = "pixel-proc";
	};
};
