work/
build_log.txt
design_version.yaml
gateware_scripts/__pycache__/
bitstream/
key_store/
sources/HSS/
sources/MSS/
sources/FPGA-design/mss.git/
sources/FPGA-design/script_support/components/CAPE/BGS/problem.md